.post {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
}

.title {
    grid-column-start: 1;
    grid-column-end: 4;

    border: 5px solid #333;
    padding: 1.5em 4.5em;
}

.imageSection img {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    
}


.imageSection {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    

    border: 5px solid #333;
    padding: 1.5em;
    
}





.articleSection {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

    border: 5px solid #333;
    padding: 1.5em;
}

.likeBttn button {
    padding: 5px 20px;
    border-radius: 15px;
    background-color: brown;
    color: cornsilk;
    font-size: medium;

    transition: padding 0.3s;
}


.likeBttn button:hover {
    padding: 8px 25px;
}

.likedNum{
    
}

.liked {
    transition: font-size .5s, color .3s;
    font-size: 20px;
    color: green
    
}